body{
    background-color: #f1f5f8;
    margin: 0;
}
h1{
    text-align: left;
    margin-top: 300px;
    color: white;
    background-color: black;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
    height: 40px;
    padding: 20px 20px 20px 20px;
}
.buttonek{
text-align: center;
display: flex;
justify-content: center;
}
.clickMe{
    background-color: inherit;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    border: solid black 5px;
    color: black;

}
.clickMe:active{
    cursor: pointer;
    border: solid lightblue 5px;
}
.clickMe:hover{
    cursor: pointer;
    background-color: darkgrey;
}
#color{
    font-weight: normal;
    margin-left: 20px;
}
.nav-links{
list-style: none;
}
.lik{
    text-decoration: none;
    color: cornflowerblue;
    font-size: 18px;
    font-weight: 700;

}
.nav-center{
    background-color: white;
    margin:0px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: black solid 2px;

}
h4{
    color: cornflowerblue;
    font-size: 24px;
}
.nav-links li{
    display: inline-block;
    margin: 30px;
}
.nav-links li :last-child{
    margin-left: 50px;
}
.nav-links li:hover{
    text-decoration: underline;
}